
WebApp1/.vs/

WebApp1/WebApplication1/bin/

WebApp1/WebApplication1/obj/

WebApp1/WebApplication2/

WebApp1/Task5WithAuth1/

WebApp1/Task5WithAuth/

WebApp1/packages/

WebApp1/WebApplication1/appsettings.json
