@model WebApplication1.Models.Product

@{ 
    ViewData["Title"] = $"Buy product {Model.ProductName}";
}

<!doctype html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @if (Model != null)
        {
            if (User.Identity.IsAuthenticated)
            {
                <div>
                    <form method="post" asp-action="Buy" asp-controller="Home">
                        <h3>Proceduring checkout:</h3>
                        <input type="hidden" value="@User.Identity.Name" name="userName" />
                        <input type="hidden" value="@Model.ID" name="productId"/>
                        <button type="submit" class="btn btn-light">Checkout</button>
                    </form>
                </div>
            }
            else
            {
                <h3>Please log in or register to buy products</h3>
            }
        }
        else
        {
            <div>
                <h3>Something went wrong... Try again later or contact support.</h3>
            </div>

        }
    </div>
   
</body>