@{ 
    ViewData["Title"] = "Creating product";
}
<!doctype html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="text-light">
        <h2>Input product details:</h2>
        <div>
            <form method="post">
                <div>
                    <div class="form-group navbar-dark">
                        <label for="productNameInput"> Product name:</label>
                        <input class="form-control w-25" type="text" id="productNameInput" name="ProductName"/>
                    </div>
                    <div class="form-group">
                        Product cost:
                        <input class="form-control w-25" type="text" name="Cost"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-light">Confirm</button>
            </form>
        </div>
    </div>
    
</body>