@{ 
    ViewData["Title"] = "Creating product";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Input product details:</h2>
    <form method="post">
        <input type="text" name="ProductName"/>
        <input type="text" name="Cost"/>
        <button type="submit" class="btn-group"></button>
    </form>
</body>