@{
    ViewData["Title"] = "Home";
}

@model IEnumerable<Product>

<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <table class="table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost</th>
        </tr>
        @foreach(var product in Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.ProductName</td>
                <td>@product.Cost</td>
            </tr>
        }
    </table>
</body>