@{
    ViewData["Title"] = "Главная";
}

@model IEnumerable<Product>

<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost</th>
        </tr>
        @foreach(var product in Model)
        {
            <tr>
                <th>@product.ID</th>
                <th>@product.ProductName</th>
                <th>@product.Cost</th>
            </tr>
        }
    </table>
</body>