@{
    ViewData["Title"] = "Home";
}

@model IEnumerable<Product>
<!doctype html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <form id="searchForm">
            <div class="form-group">
                <label for="productNameField">Input product name:</label>
                <input class="form-control w-50" id="productNameField" type="text" name="productName" />
            </div>
            <div class="form-group">
            </div>
        </form>
        <button type="button" id="btn1" class="btn btn-light">Search</button>
    </div>

    <table class="table table-bordered table-striped table-dark" id="productTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cost</th>
                @if (User.IsInRole("user") || !User.Identity.IsAuthenticated)
                {
                    <th>Buy</th>
                }
                @if (User.IsInRole("admin"))
                {
                    <th>Manage</th>
                }
            </tr>
        </thead>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.ProductName</td>
                <td>@product.Cost</td>
                @if (User.IsInRole("user") || !User.Identity.IsAuthenticated)
                {
                    <td><a href="~/Home/Buy/@product.ID" class="btn btn-success">Buy</a></td>
                }
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a href="~/Home/Update/@product.ID" class="btn btn-primary">Update</a>
                        <a href="~/Home/Delete/@product.ID" class="btn btn-danger">Delete</a>
                    </td>
                }

            </tr>
        }
    </table>
    @if (User.IsInRole("admin"))
    {
        <a href="~/Home/Create" class="btn btn-light">Create</a>
    }
    @section Scripts{
        <script>
            $(document).ready(function () {
                $("#btn1").bind("click", (function () {
                    $.ajax({
                        url: "/Home/GetProducts",
                        method: "Post",
                        data: $("#productName").val(),
                        success: (function (data) {
                            let prTable = $('#productTable');
                            prTable.empty();
                            alert(data);
                            var products = data.content;
                            alert(products);
                            alert(products[0]);
                            alert(products);
                            $(data).each(function (product) {
                                product = JSON.parse(product)
                                prTable.append('<tr><td>' + product["id"] + '</td><td>'
                                    + product.productName + '</td><td>' + product.cost + '</td><td>')
                            });
                        })
                    });
                }));
            });
        </script>
    }
</body>