@{
    ViewData["Title"] = "Home";
}

@model IEnumerable<Product>
<!doctype html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
        <form>
            <div class="form-group">
                <label for="productNameField">Input product name:</label>
                <input class="form-control w-50" id="productNameField" type="text" name="productName" />
                <button type="button" class="btn btn-light" id="btn1">Search</button>
            </div>
        </form>
    </div>

    <table class="table table-bordered table-striped table-dark" id="productTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cost</th>
                @if (User.IsInRole("admin"))
                {
                    <th>Manage</th>
                }
                @if (User.IsInRole("user"))
                {
                    <th>Buy</th>
                }
            </tr>
        </thead>
    </table>
    @if (User.IsInRole("admin"))
    {
        <a href="~/Home/Create" class="btn btn-light">Create</a>
    }
    @if (User.IsInRole("admin"))
    {
        @section Scripts{
            <script>
                $(document).ready(function () {
                    BindSearch();
                    InitTableLoad();
                });
                function LoadData(data) {
                    $("#productTable").find("tr:not(:first)").remove();
                    for (let i = 0; i < data.data.length; i++) {
                        $("#productTable").append('<tr><td>' + data.data[i].id + '</td><td>' +
                            data.data[i].productName + '</td><td>' + data.data[i].cost + '</td><td>' +
                            '<a href="/Home/Update/' + data.data[i].id + '" class="btn btn-primary">Update</a>' +
                            '<a href="/Home/Delete/' + data.data[i].id + '" class="btn btn-danger">Delete</a></td>'
                        );
                    }
                }
                function BindSearch() {
                    $("#btn1").bind("click", (function () {
                        $.post({
                            url: "/Home/GetProducts",
                            data: { "productNameFilter": $("#productNameField").val() },
                            dataType: "json",
                            success: LoadData
                        });
                    }));
                }
                function InitTableLoad() {
                    $.get({
                        url: "/Home/GetAllProducts",
                        dataType: "json",
                        success: LoadData
                    });
                }
            </script>
        }
    }
    @if (User.IsInRole("user"))
    {
        @section Scripts{
            <script>
                $(document).ready(function () {
                    BindSearch();
                    InitTableLoad();
                });
                function LoadData(data) {
                    $("#productTable").find("tr:not(:first)").remove();
                    for (let i = 0; i < data.data.length; i++) {
                        $("#productTable").append('<tr><td>' + data.data[i].id + '</td><td>' +
                            data.data[i].productName + '</td><td>' + data.data[i].cost + '</td><td>' +
                            '<a href="/Home/Buy/' + data.data[i].id + '" class="btn btn-success">Buy</a>' +
                                                );
                    }
                }
                function BindSearch() {
                    $("#btn1").bind("click", (function () {
                        $.post({
                            url: "/Home/GetProducts",
                            data: { "productNameFilter": $("#productNameField").val() },
                            dataType: "json",
                            success: LoadData
                        });
                    }));
                }
                function InitTableLoad() {
                    $.get({
                        url: "/Home/GetAllProducts",
                        dataType: "json",
                        success: LoadData
                    });
                }
            </script>
        }
    }
</body>