@{
    Layout = null;  // clean up F12 tool network tab
}
@{
    ViewData["Title"] = "error";
}
<!doctype html>
<head>
    <!-- prevent favicon.ico from being requested. -->
    <link rel="icon" href="data:,">
</head>
<body>
    <h3>Hi</h3>

    <h1 class="text-danger">Status Code:ErrorStatusCode</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</body>
