@{
    ViewData["Title"] = "Adding manager";
}
<!doctype html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Input manager information:</h2>
    <form method="post">
        <table class="table">
            <tr>
                <th>Manager name:</th>
                <td><input type="text" name="ManagerName" /></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-outline-dark">Confirm</button>
    </form>
</body>