@{
    ViewData["Title"] = "Adding manager";
}
<!doctype html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="text-light">
        <h2>Input manager information:</h2>
        <div>
            <form method="post">
                <div class="form-group">
                    <label for="managerNameInput"></label> Manager name:
                    <input id="managerNameInput" class="form-control" type="text" name="ManagerName" />
                </div>
                <button type="submit" class="btn btn-light">Confirm</button>
            </form>
        </div>
    </div> 
</body>