@model IEnumerable<Manager>
@{
    ViewData["Title"] = "Managers";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <table class="table-condensed">
        <tr>
            <th>ID</th>
            <th>Имя</th>
        </tr>
        @foreach (var manager in Model)
        {
            <tr>
                <td>@manager.ManagerId</td>
                <td>@manager.ManagerName</td>
            </tr>
        }
    </table>

</body>