@{
    ViewData["Title"] = "Adding User";
}
<!doctype html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Input user information:</h2>
    <form method="post">
        <table class="table">
            <tr>
                <th>User name:</th>
                <td><input type="text" name="UserName" /></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-outline-dark">Confirm</button>
    </form>
</body>