@{
    ViewData["Title"] = "Adding User";
}
<!doctype html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="text-light">
        <h2>Input user information:</h2>
        <div>
            <form method="post">
                <div class="form-group">
                    <label for="userNameInput">User name:</label>
                    <input class="form-control w-25" type="text" name="UserName" />
                </div>
                <button type="submit" class="btn btn-light">Confirm</button>
            </form>
        </div>
    </div>

</body>