@model IEnumerable<User>
@{
    ViewData["Title"] = "Users";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <table class="table table-bordered table-striped table-dark" >
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Manage</th>
        </tr>
        @foreach (var user in Model)
        {
    <tr>
        <td>@user.UserId</td>
        <td>@user.UserName</td>
        <td>
            <a href="~/User/Update/@user.UserId" class="btn btn-primary">Update</a>
            <a href="~/User/Delete/@user.UserId" class="btn btn-danger">Delete</a>
        </td>
    </tr>
        }
    </table>
    <a href="~/User/Create" class="btn btn-light">Add</a>
</body>